@CHARSET "EUC-KR";
.container {
	width: 100%;
	clear: both;
	margin:0; 
} 
.navbar {
	border-radius:0; 
}
.side_nav{
	margin:0px; 
	padding: 0px; 
	top: -20px; 
}
.side_title{
	text-align: center; 
}

.header_box {
	margin-bottom: 0;
}

.input-group {
	margin-bottom: 1em;
}


.pagination {
	display: flex;
	justify-content: center;
}

table>thead>tr>th {
	height: 3em;
	vertical-align: middle;
	text-align: center;
}

table>tbody>tr>td {
	vertical-align: middle;
	text-align: center;
}

/* home */
.home_section{
	padding:0; 
}
.home_container{
	width: 100%; 
}
.home_article{
	width: 33%;
	clear: both; 
    display: inline-block;
    align-self: stretch;
    height: 200px;
    margin : 10px 0; 
}
.home_article.in{
	width:50%; 
	height:250px; 
}
.home_article.out{
	width:25%; 
	height:150px;
	font-size:0.8em; 
}
.home_article .article{
	margin: 10px;
	height: 100%;  
	padding: 10px; 
}
.home_article:nth-child(1) .article{background-color:#fafce3}
.home_article:nth-child(2) .article{background-color:#f0fb6e}
.home_article:nth-child(3) .article{background-color:#e2f319}
.home_article:nth-child(6) .article{background-color:#f0fb6e}
.home_article:nth-child(5) .article{background-color:#fafce3}
.home_article:nth-child(4) .article{background-color:#e2f319}
.home_article:nth-child(7) .article{background-color:#fafce3}
.home_article:nth-child(8) .article{background-color:#f0fb6e}
.home_article:nth-child(9) .article{background-color:#e2f319}

.home_article .tit{
	font-size: 1.5em;
	height: 20%; 
}
.home_article .hit{
	font-size: 0.6em;
	float:right;
	background-color: #999;
    border-radius: 1em;
    color: #fff;
    padding: 0 10px;
}
.home_article .con{
    height: 60%;
}
.home_article .date{
	text-align: right; 
	font-size: 0.8em; 
	color: #666; 
	height:10%; 
	width:100%; 
}
